<h2>Update <%=@searched_bookmark[0].title%></h2>

<form action="/bookmarks/update/<%=@searched_bookmark[0].id%>" method="post">
  <label for="modified_title">New title</label>
  <input type="text" name="modified_title">
  <label for="modified_url">New URL</label>
  <input type="text" name="modified_url">
  <input type="submit" name="submit" value="Submit">
</form>
